<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>navi_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A72B90A1F42CA64004C5B39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A72B9231F42CA64004C5B39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A72B92E1F42CA65004C5B39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
